.expense_item .expense_item_desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
  width: 80%;
  margin: 0 auto;
}
.expense_item .expense_item_desc .expense_item_price {
  border: 1px solid gold;
}
