.create_expense {
  border: 2px solid red;
}
.create_expense label {
  display: inline-block;
  width: 100px;
}
.create_expense input {
  width: 200px;
}
.create_expense button[type="submit"] {
  width: 80px;
}
